:root {
    --navmain_width: 18%;
    --top_navbar_height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    height: 100%;
    display: flex;
    align-items: center;
}

.idaEvolta {
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    position: relative;
}

button {
    border: none;
    background-color: transparent;
    color: white;
}

.setas {
    height: 100%;
}

.barra_divisora {
    height: 25px;
    width: 1px;
    background: white;
    margin: 16px;
}

.btn_top_navbar {
    margin-inline: 10px;
    color: gray;
    background-color: transparent;
    letter-spacing: 1.5px;
}

.top_navbar {
    top: 0;
    position: fixed;
    float: right;
    background: #000000d4;
    width: calc(100% - var(--navmain_width));
    height: var(--top_navbar_height);
    align-items: center;
    margin-left: var(--navmain_width);
}

.separador {
    flex-grow: 1;
}

.logIn {
    margin-left: 10px;
    background-color: white;
    color: #222222;
    border: 0px;
    border-radius: 500px;
    box-sizing: border-box;
    padding: 14px 22px ;
    margin-right: 10px;
}

.singIn {
    color: gray;
    background-color: transparent;
}

.navmain {
    top: 0;
    position: fixed;
    padding-top: 24px;
    width: var(--navmain_width);
    height: 100%;
    justify-content: left;
    text-align: left;
    justify-self: left;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

.navmain img {
    position: relative;
    margin: 8px;
    width: 80%;
    height: 100%;
}

.navmain li {
    height: 40px;
    list-style: none;
    padding: 6px 6px 6px 0px;
    justify-content: left;
}

.navmain .menu_navmain {
    margin-top: 20px;
}

.navmain .menu_navmain ul {
    justify-content: left;
}

.navmain button {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0;
    cursor: pointer;
    width: max-content;
    
}

.navmain button img {
    padding-left: 20px;
    margin: 0 8px 0 0;
    width: min-content;
}

.navmain li {
    display: flex;
    align-items: center;
}

#mais {
    background-color: #ffffffbf;
    padding: 4px;
    border-radius: 10%;
}

#curtidas {
    padding: 4px;
    background: linear-gradient(to bottom right, #4732e9, #abd7f8);
    border-radius: 10%;
    max-width: 24px;
}

.ferramentas {
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    height: 100%;
    position: relative;
}

.content {
    display: block;
    margin-top: var(--top_navbar_height);
    margin-left: var(--navmain_width);
}

.logo_horizontal {
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.logo_horizontal img {
    margin: 0;
    padding: 0 24px;
    max-height: auto;
    object-fit: contain;
}